html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

canvas {
  display: block;
  border: #ffffff;
  border-width: 1px;
  border-style: solid;
  position: fixed;
  width: 25%;
}

#canvasContainer {
  width: 25%;
  margin-left: 50%;
  border: #ffffff;
  border-width: 1px;
}

@media only screen and (max-width: 1000px) {
  #canvasContainer {
    width: 100%;
    margin-left: 0%;
  }
  .textbox {
    width: 100%;
  }
  .info {
    font-size: 12px;
    width: 100%;
  }
  .date {
    font-size: 20px;
    width: 100%;
  }
  .halfHeight{
    width: 100%;
  }
  .fullHeight{
    width: 100%;
  }
}

.title {
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Imbue', serif;
  text-decoration: underline;

}

.warning {
  color: rgb(218, 218, 218);
  font-size: medium;
  text-align: left;
}

.textbox {
  display: inline-block;
  width: 75%;
  max-width: 600px;
  outline: white 1px dashed;
}

.date {
  color: white;
  font-weight: bold;
  font-family: 'Imbue', serif;
  font-size: 30px;
  text-decoration: underline;
}

.info {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Imbue', serif;

}

.halfHeight {
  color: #000000;
  height: 250px;
}

.fullHeight {
  color: #000000;
  height: 500px;
}