body {
    background-color: pink;
}

.layout {
    color: darkseagreen;
    text-shadow: 5px;
    text-align: center;
    margin-top: -10px;
    font-weight: bolder;
    text-decoration: wavy;
    text-decoration-color: aliceblue;
}

.heading {
    color: darkseagreen;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    text-decoration-color: whitesmoke;
    text-decoration: underline overline;
    /* text-decoration-color: */

}

.placing {
    color: azure;
}

.spacing {
    color: cornflowerblue;
}

.urgent {
    color: red;
    font-weight: bold;
}

.box {
    border-color: lavender;
    border-width: 5px;
    border-style: groove;
    padding: 20px;
    margin: 10px;
    width: 200px;
    height: 500px;
}

ul {
    border-color: lemonchiffon;
    border-width: 2px;
    border-style: solid;
    margin: 1px;
}

.box1 {
    background-color: paleturquoise;
    position: absolute;
    top: 150px;
    left: 600px;
    width: 600px;
    height: 400px;
}


.box2 {
    background-color: lightsteelblue;
    position: fixed;
    top: 10px;
    right: 30px;

}

.box3 {
    background-color: thistle;
    position: absolute;
    top: 0px;
    left: 600px;
    width: 600px;
    height: 95px;
}

.box4 {
    background-color: khaki;
    position: relative;
    left: 590px;
    top: 605px;
    width: 600px;
}

.box5 {
    background-color: rgb(187, 226, 187);
    position: fixed;
    top: 10px;
    left: 30px;

}

.box6 {
    position: fixed;
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    left: -40px;
    top: 0px;
}

.box7 {
    position: fixed;
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    right: -60px;
    top: 0px;
}